@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Caveat:wght@500&family=Nothing+You+Could+Do&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";

/* Additional styles */
@import "additional-styles/utility-patterns.css";
@import "additional-styles/flatpickr.css";
@import "additional-styles/mde-editor.css";
@import "additional-styles/markdown.css";

@import "tailwindcss/utilities";

@property --border-angle {
    inherits: false;
    initial-value: 0deg;
    syntax: "<angle>";
}

.shiki .highlight {
    background-color: hsl(197, 88%, 94%);
    padding: 3px 0;
}

.shiki .add {
    background-color: hsl(136, 100%, 96%);
    padding: 3px 0;
}

.shiki .del {
    background-color: hsl(354, 100%, 96%);
    padding: 3px 0;
}

.shiki.focus .line:not(.focus) {
    transition: all 250ms;
    filter: blur(2px);
}

.shiki.focus:hover .line {
    transition: all 250ms;
    filter: blur(0);
}
